:root {
  --color-brown-50: #f7ece7;
  --color-brown-100: #eed5cb;
  --color-brown-200: #e1ad94;
  --color-brown-300: #c38969;
  --color-brown-400: #9b6c52;
  --color-brown-500: #74503c;
  --color-brown-600: #5e402f;
  --color-brown-700: #472f22;
  --color-brown-800: #342217;
  --color-brown-900: #1f130c;
  --color-brown-950: #160c07;
  --color-red-50: #fbeeee;
  --color-red-100: #f8e0e0;
  --color-red-200: #f2c0c0;
  --color-red-300: #ed9e9f;
  --color-red-400: #e97a7b;
  --color-red-500: #e74e4f;
  --color-red-600: #c73839;
  --color-red-700: #9f2b2c;
  --color-red-800: #6d1b1b;
  --color-red-900: #410c0c;
  --color-red-950: #160c07;
  --color-steel-blue-50: #ebf5f9;
  --color-steel-blue-100: #d6ecf3;
  --color-steel-blue-200: #afdce8;
  --color-steel-blue-300: #93c6d4;
  --color-steel-blue-400: #82b0bc;
  --color-steel-blue-500: #739ca7;
  --color-steel-blue-600: #597a82;
  --color-steel-blue-700: #425b62;
  --color-steel-blue-800: #2c3e43;
  --color-steel-blue-900: #162124;
  --color-steel-blue-950: #0c1517;
  --color-midnight-blue-50: #eef0fa;
  --color-midnight-blue-100: #e1e5f6;
  --color-midnight-blue-200: #c0c8ed;
  --color-midnight-blue-300: #a1aee5;
  --color-midnight-blue-400: #8295dd;
  --color-midnight-blue-500: #5e7ad2;
  --color-midnight-blue-600: #4864b5;
  --color-midnight-blue-700: #384f91;
  --color-midnight-blue-800: #27396b;
  --color-midnight-blue-900: #19264b;
  --color-midnight-blue-950: #0d1630;

  --text-color: var(--color-red-100);

  --hover-text-color: var(--color-red-50);
}

/* Valores fijos */
.w-100 {
  width: 100px;
}
.w-200 {
  width: 200px;
}
.w-300 {
  width: 300px;
}
.w-400 {
  width: 400px;
}
.w-500 {
  width: 500px;
}
.w-600 {
  width: 600px;
}
.w-700 {
  width: 700px;
}
.w-800 {
  width: 800px;
}

/* Valores relativos */
.w-full {
  width: 100%;
}
.w-auto {
  width: auto;
}
.w-screen {
  width: 100vw;
}

/* Fracciones (útil para grids) */
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333%;
}
.w-2\/3 {
  width: 66.666%;
}
.w-1\/4 {
  width: 25%;
}

.max-w-300 {
  max-width: 300px;
}
.max-w-400 {
  max-width: 400px;
}
.max-w-500 {
  max-width: 500px;
}
.max-w-600 {
  max-width: 600px;
}
.max-w-700 {
  max-width: 700px;
}
.max-w-800 {
  max-width: 800px;
}
.max-w-900 {
  max-width: 900px;
}
.max-w-1000 {
  max-width: 1000px;
}
.max-w-1100 {
  max-width: 1100px;
}
.max-w-1200 {
  max-width: 1200px;
}
.max-w-1300 {
  max-width: 1300px;
}
.max-w-1400 {
  max-width: 1400px;
}
.max-w-1500 {
  max-width: 1500px;
}
.max-w-1600 {
  max-width: 1600px;
}
.max-w-full {
  max-width: 100%;
}
.max-w-1\/2 {
  max-width: 50%;
}

/* Min Width */

.min-w-24 {
  min-width: 24px;
}

.min-w-100 {
  min-width: 100px;
}
.min-w-200 {
  min-width: 200px;
}
.min-w-250 {
  min-width: 250px;
}
.min-w-300 {
  min-width: 300px;
}
.min-w-400 {
  min-width: 400px;
}
.min-w-500 {
  min-width: 500px;
}
.min-w-600 {
  min-width: 600px;
}
.min-w-700 {
  min-width: 700px;
}
.min-w-800 {
  min-width: 800px;
}
.min-w-full {
  min-width: 100%;
}
.min-w-screen {
  min-width: 100vw;
}

/* Valores fijos */
.h-100 {
  height: 100px;
}
.h-200 {
  height: 200px;
}
.h-300 {
  height: 300px;
}
.h-400 {
  height: 400px;
}
.h-500 {
  height: 500px;
}
.h-600 {
  height: 600px;
}
.h-700 {
  height: 700px;
}
.h-800 {
  height: 800px;
}

/* Valores relativos */
.h-full {
  height: 100%;
}
.h-auto {
  height: auto;
}
.h-screen {
  height: 100vh;
}

/* Fracciones */
.h-1\/2 {
  height: 50%;
}
.h-1\/3 {
  height: 33.333%;
}

.max-h-100 {
  max-height: 100px;
}
.max-h-200 {
  max-height: 200px;
}
.max-h-300 {
  max-height: 300px;
}
.max-h-400 {
  max-height: 400px;
}
.max-h-500 {
  max-height: 500px;
}
.max-h-600 {
  max-height: 600px;
}
.max-h-700 {
  max-height: 700px;
}
.max-h-800 {
  max-height: 800px;
}
.max-h-900 {
  max-height: 900px;
}
.max-h-1000 {
  max-height: 1000px;
}
.max-h-1100 {
  max-height: 1100px;
}
.max-h-1200 {
  max-height: 1200px;
}
.max-h-1300 {
  max-height: 1300px;
}
.max-h-1400 {
  max-height: 1400px;
}
.max-h-1500 {
  max-height: 1500px;
}
.max-h-1600 {
  max-height: 1600px;
}
.max-h-full {
  max-height: 100%;
}
.max-h-screen {
  max-height: 100vh;
}

.min-h-100 {
  min-height: 100px;
}
.min-h-200 {
  min-height: 200px;
}
.min-h-300 {
  min-height: 300px;
}
.min-h-400 {
  min-height: 400px;
}
.min-h-500 {
  min-height: 500px;
}
.min-h-600 {
  min-height: 600px;
}
.min-h-700 {
  min-height: 700px;
}
.min-h-800 {
  min-height: 800px;
}
.min-h-full {
  min-height: 100%;
}
.min-h-screen {
  min-height: 100vh;
}

/* Colores Brown */
.brown-50 {
  color: var(--color-brown-50);
}
.brown-100 {
  color: var(--color-brown-100);
}
.brown-200 {
  color: var(--color-brown-200);
}
.brown-300 {
  color: var(--color-brown-300);
}
.brown-400 {
  color: var(--color-brown-400);
}
.brown-500 {
  color: var(--color-brown-500);
}
.brown-600 {
  color: var(--color-brown-600);
}
.brown-700 {
  color: var(--color-brown-700);
}
.brown-800 {
  color: var(--color-brown-800);
}
.brown-900 {
  color: var(--color-brown-900);
}
.brown-950 {
  color: var(--color-brown-950);
}

.bg-brown-50 {
  background-color: var(--color-brown-50);
}
.bg-brown-100 {
  background-color: var(--color-brown-100);
}
.bg-brown-200 {
  background-color: var(--color-brown-200);
}
.bg-brown-300 {
  background-color: var(--color-brown-300);
}
.bg-brown-400 {
  background-color: var(--color-brown-400);
}
.bg-brown-500 {
  background-color: var(--color-brown-500);
}
.bg-brown-600 {
  background-color: var(--color-brown-600);
}
.bg-brown-700 {
  background-color: var(--color-brown-700);
}
.bg-brown-800 {
  background-color: var(--color-brown-800);
}
.bg-brown-900 {
  background-color: var(--color-brown-900);
}
.bg-brown-950 {
  background-color: var(--color-brown-950);
}

/* Colores Red */
.red-50 {
  color: var(--color-red-50);
}
.red-100 {
  color: var(--color-red-100);
}
.red-200 {
  color: var(--color-red-200);
}
.red-300 {
  color: var(--color-red-300);
}
.red-400 {
  color: var(--color-red-400);
}
.red-500 {
  color: var(--color-red-500);
}
.red-600 {
  color: var(--color-red-600);
}
.red-700 {
  color: var(--color-red-700);
}
.red-800 {
  color: var(--color-red-800);
}
.red-900 {
  color: var(--color-red-900);
}
.red-950 {
  color: var(--color-red-950);
}

.bg-red-50 {
  background-color: var(--color-red-50);
}
.bg-red-100 {
  background-color: var(--color-red-100);
}
.bg-red-200 {
  background-color: var(--color-red-200);
}
.bg-red-300 {
  background-color: var(--color-red-300);
}
.bg-red-400 {
  background-color: var(--color-red-400);
}
.bg-red-500 {
  background-color: var(--color-red-500);
}
.bg-red-600 {
  background-color: var(--color-red-600);
}
.bg-red-700 {
  background-color: var(--color-red-700);
}
.bg-red-800 {
  background-color: var(--color-red-800);
}
.bg-red-900 {
  background-color: var(--color-red-900);
}
.bg-red-950 {
  background-color: var(--color-red-950);
}

/* Colores Steel Blue */
.steel-blue-50 {
  color: var(--color-steel-blue-50);
}
.steel-blue-100 {
  color: var(--color-steel-blue-100);
}
.steel-blue-200 {
  color: var(--color-steel-blue-200);
}
.steel-blue-300 {
  color: var(--color-steel-blue-300);
}
.steel-blue-400 {
  color: var(--color-steel-blue-400);
}
.steel-blue-500 {
  color: var(--color-steel-blue-500);
}
.steel-blue-600 {
  color: var(--color-steel-blue-600);
}
.steel-blue-700 {
  color: var(--color-steel-blue-700);
}
.steel-blue-800 {
  color: var(--color-steel-blue-800);
}
.steel-blue-900 {
  color: var(--color-steel-blue-900);
}
.steel-blue-950 {
  color: var(--color-steel-blue-950);
}

.bg-steel-blue-50 {
  background-color: var(--color-steel-blue-50);
}
.bg-steel-blue-100 {
  background-color: var(--color-steel-blue-100);
}
.bg-steel-blue-200 {
  background-color: var(--color-steel-blue-200);
}
.bg-steel-blue-300 {
  background-color: var(--color-steel-blue-300);
}
.bg-steel-blue-400 {
  background-color: var(--color-steel-blue-400);
}
.bg-steel-blue-500 {
  background-color: var(--color-steel-blue-500);
}
.bg-steel-blue-600 {
  background-color: var(--color-steel-blue-600);
}
.bg-steel-blue-700 {
  background-color: var(--color-steel-blue-700);
}
.bg-steel-blue-800 {
  background-color: var(--color-steel-blue-800);
}
.bg-steel-blue-900 {
  background-color: var(--color-steel-blue-900);
}
.bg-steel-blue-950 {
  background-color: var(--color-steel-blue-950);
}

/* Colores Midnight Blue */
.midnight-blue-50 {
  color: var(--color-midnight-blue-50);
}
.midnight-blue-100 {
  color: var(--color-midnight-blue-100);
}
.midnight-blue-200 {
  color: var(--color-midnight-blue-200);
}
.midnight-blue-300 {
  color: var(--color-midnight-blue-300);
}
.midnight-blue-400 {
  color: var(--color-midnight-blue-400);
}
.midnight-blue-500 {
  color: var(--color-midnight-blue-500);
}
.midnight-blue-600 {
  color: var(--color-midnight-blue-600);
}
.midnight-blue-700 {
  color: var(--color-midnight-blue-700);
}
.midnight-blue-800 {
  color: var(--color-midnight-blue-800);
}
.midnight-blue-900 {
  color: var(--color-midnight-blue-900);
}
.midnight-blue-950 {
  color: var(--color-midnight-blue-950);
}

.bg-midnight-blue-50 {
  background-color: var(--color-midnight-blue-50);
}
.bg-midnight-blue-100 {
  background-color: var(--color-midnight-blue-100);
}
.bg-midnight-blue-200 {
  background-color: var(--color-midnight-blue-200);
}
.bg-midnight-blue-300 {
  background-color: var(--color-midnight-blue-300);
}
.bg-midnight-blue-400 {
  background-color: var(--color-midnight-blue-400);
}
.bg-midnight-blue-500 {
  background-color: var(--color-midnight-blue-500);
}
.bg-midnight-blue-600 {
  background-color: var(--color-midnight-blue-600);
}
.bg-midnight-blue-700 {
  background-color: var(--color-midnight-blue-700);
}
.bg-midnight-blue-800 {
  background-color: var(--color-midnight-blue-800);
}
.bg-midnight-blue-900 {
  background-color: var(--color-midnight-blue-900);
}
.bg-midnight-blue-950 {
  background-color: var(--color-midnight-blue-950);
}

/* Clases especiales para texto */
.text-primary {
  color: var(--text-color);
}
.hover-text-primary:hover {
  color: var(--hover-text-color);
}

/* Clases para estados hover (opcional) */
.hover-brown-100:hover {
  color: var(--color-brown-100);
}
.hover-red-100:hover {
  color: var(--color-red-100);
}
/* ... puedes agregar más variantes hover según necesites */

.text-primary {
  color: var(--text-color);
}
.text-hover {
  color: var(--hover-text-color);
}
.text-inherit {
  color: inherit;
}
.text-current {
  color: currentColor;
}

/* Colores de texto con opacidad */
.text-opacity-80 {
  opacity: 0.8;
}
.text-opacity-60 {
  opacity: 0.6;
}
.text-opacity-40 {
  opacity: 0.4;
}

/* ========== FONT WEIGHTS ========== */
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

/* Margin general */
.m-0 {
  margin: 0rem;
}
.m-0-5 {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-1-5 {
  margin: 1.5rem;
}
.m-2 {
  margin: 2rem;
}
.m-2-5 {
  margin: 2.5rem;
}
.m-3 {
  margin: 3rem;
}
.m-3-5 {
  margin: 3.5rem;
}
.m-4 {
  margin: 4rem;
}

/* Margin por lado */
.mt-0 {
  margin-top: 0rem;
}
.mt-0-5 {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-1-5 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-2-5 {
  margin-top: 2.5rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-3-5 {
  margin-top: 3.5rem;
}
.mt-4 {
  margin-top: 4rem;
}

.mr-0 {
  margin-right: 0rem;
}
.mr-0-5 {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-1-5 {
  margin-right: 1.5rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-2-5 {
  margin-right: 2.5rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-3-5 {
  margin-right: 3.5rem;
}
.mr-4 {
  margin-right: 4rem;
}

.mb-0 {
  margin-bottom: 0rem;
}
.mb-0-5 {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-1-5 {
  margin-bottom: 1.5rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-2-5 {
  margin-bottom: 2.5rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-3-5 {
  margin-bottom: 3.5rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

.ml-0 {
  margin-left: 0rem;
}
.ml-0-5 {
  margin-left: 0.5rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-1-5 {
  margin-left: 1.5rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-2-5 {
  margin-left: 2.5rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-3-5 {
  margin-left: 3.5rem;
}
.ml-4 {
  margin-left: 4rem;
}

/* Margin en X e Y */
.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}
.mx-0-5 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-1-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-2-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.mx-3-5 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}
.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.my-0-5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-1-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-2-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-3-5 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Padding general */
.p-0 {
  padding: 0rem;
}
.p-0-5 {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-1-5 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-2-5 {
  padding: 2.5rem;
}
.p-3 {
  padding: 3rem;
}
.p-3-5 {
  padding: 3.5rem;
}
.p-4 {
  padding: 4rem;
}

/* Padding por lado */
/* Top */
.pt-0 {
  padding-top: 0rem;
}
.pt-0-5 {
  padding-top: 0.5rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-1-5 {
  padding-top: 1.5rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-2-5 {
  padding-top: 2.5rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-3-5 {
  padding-top: 3.5rem;
}
.pt-4 {
  padding-top: 4rem;
}

/* Right */
.pr-0 {
  padding-right: 0rem;
}
.pr-0-5 {
  padding-right: 0.5rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pr-1-5 {
  padding-right: 1.5rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pr-2-5 {
  padding-right: 2.5rem;
}
.pr-3 {
  padding-right: 3rem;
}
.pr-3-5 {
  padding-right: 3.5rem;
}
.pr-4 {
  padding-right: 4rem;
}

/* Bottom */
.pb-0 {
  padding-bottom: 0rem;
}
.pb-0-5 {
  padding-bottom: 0.5rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-1-5 {
  padding-bottom: 1.5rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-2-5 {
  padding-bottom: 2.5rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pb-3-5 {
  padding-bottom: 3.5rem;
}
.pb-4 {
  padding-bottom: 4rem;
}

/* Left */
.pl-0 {
  padding-left: 0rem;
}
.pl-0-5 {
  padding-left: 0.5rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-1-5 {
  padding-left: 1.5rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pl-2-5 {
  padding-left: 2.5rem;
}
.pl-3 {
  padding-left: 3rem;
}
.pl-3-5 {
  padding-left: 3.5rem;
}
.pl-4 {
  padding-left: 4rem;
}

/* Padding en X e Y */
.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}
.px-0-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-1-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-2-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.px-3-5 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* Vertical (y) */
.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.py-0-5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-1-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-2-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-3-5 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Gap general */
.gap-0 {
  gap: 0rem;
}
.gap-0-5 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-1-5 {
  gap: 1.5rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-2-5 {
  gap: 2.5rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-3-5 {
  gap: 3.5rem;
}
.gap-4 {
  gap: 4rem;
}

/* Row gap */
.row-gap-0 {
  row-gap: 0rem;
}
.row-gap-0-5 {
  row-gap: 0.5rem;
}
.row-gap-1 {
  row-gap: 1rem;
}
.row-gap-1-5 {
  row-gap: 1.5rem;
}
.row-gap-2 {
  row-gap: 2rem;
}
.row-gap-2-5 {
  row-gap: 2.5rem;
}
.row-gap-3 {
  row-gap: 3rem;
}
.row-gap-3-5 {
  row-gap: 3.5rem;
}
.row-gap-4 {
  row-gap: 4rem;
}

/* Column gap */
.col-gap-0 {
  column-gap: 0rem;
}
.col-gap-0-5 {
  column-gap: 0.5rem;
}
.col-gap-1 {
  column-gap: 1rem;
}
.col-gap-1-5 {
  column-gap: 1.5rem;
}
.col-gap-2 {
  column-gap: 2rem;
}
.col-gap-2-5 {
  column-gap: 2.5rem;
}
.col-gap-3 {
  column-gap: 3rem;
}
.col-gap-3-5 {
  column-gap: 3.5rem;
}
.col-gap-4 {
  column-gap: 4rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-row-rev {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-rev {
  flex-direction: column-reverse;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-center {
  align-content: center;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-rev {
  flex-wrap: wrap-reverse;
}

.flex-grow {
  flex-grow: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.shrink-1 {
  flex-shrink: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
